body {
    overflow-y: scroll;
}

.main {
    width: 100%;
    margin: 20px;
}

img {
    float: left;
    margin: 5px;
}

figure {
    margin: 0px auto;
}

.fig {
    margin-left: 10px;
}

/* mouse over link */
tr.nameList {
    cursor: pointer;
}

td, th {
    text-align: center;
}
td.btn-td {
    text-align: end;
}
td.name {
    text-align: left;
    vertical-align: middle;
}
table.table.table-striped {
    background-color: floralwhite;
}

