<!DOCTYPE html>
<html ng-app="indexApp">

<head lang="en">
    <meta charset="UTF-8">
    <title>Instagram Gallery</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header-dir></header-dir>
    <dir-images></dir-images>
    <div class="fig">
        <figure ng-repeat="pic in imageGallery.pics">
            <img src="{{pic}}"/>
        </figure>
    </div>
</div>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="/js/common.js"></script>

</body>
</html>