<!DOCTYPE html>
<html lang="en-US" ng-app="indexApp">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div ng-controller="editController" class="container">

    <header-dir></header-dir>

    <form novalidate class="form-register">

        <div class='alert alert-danger' ng-hide="ShowHide()"> <p align="center"> Submitting Error </p></div>

        <div class="form-group">

            <label>First Name</label>
            <input type="text" class="form-control" ng-model="editController.fname" required>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="editController.lname" required>
            </div>

            <div class="form-group">
                <label>Employee Age</label>
                <input type="number" class="form-control" ng-model="editController.age" min="18" max="60" required>
            </div>

            <div class="form-group">
                <label>Company</label>
                <select ng-model="editController.company" class="form-control" required>
                    <option ng-repeat="c in editController.companies"
                            value="{{c.id}}" ng-selected="editController.company == c.id">{{c.company_name}}</option>
                </select>
            </div>

            <button ng-click="Update(editController)" class="btn btn-lg btn-primary btn-block"><i class="fa fa-key"></i> Edit Registration</button>
            <a class="btn btn-lg btn-default btn-block" href="/index.html"><i class="fa fa-times-circle"></i> Cancel</a>

        </div>
    </form>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>